@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300|IBM+Plex+Sans|Sonsie+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Sonsie One", cursive;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.71429;
  font-weight: 400;
}

img {
  max-width: 100%;
}

/* header */

.showcase {
  height: 75vh;
  background: #343a40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffffcc;
  text-align: center;
}

.showcase .container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.showcase .image-div {
  display: none;
}

.showcase h1 {
  margin-bottom: 1em;
  text-align: center;
  font-size: 2.75rem;
}

.showcase p {
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.25rem;
}

.showcase button {
  border-radius: 5px;
  border: none;
  padding: 15px 25px;
  color: #ffffffcc;
  background: #1890ff;
  text-align: center;
}

/* Features */

.features {
  text-align: center;
  margin-top: 3em;
}

.features .card > * {
  padding: 3px;
}

.features .card .sizing {
  font-size: 50px;
}

.features h1 {
  font-size: 2rem;
}

.features h4 {
  font-weight: bold;
  text-transform: uppercase;
}

/* mixer */
.mixer {
  margin-top: 3em;
  text-align: center;
}

.mixer .container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mixer .button {
  text-decoration: none;
  background: #1890ff;
  color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
}

.mixer a.button {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* FAQ sections */

.faq {
  padding: 7em 2em 5em;
  text-align: center;
  background: #f5f5f5;
}

.faq h1 {
  font-size: 2rem;
  margin-bottom: 3em;
}

.faq h4 {
  font-size: 21px;
}

.faq-card {
  margin: 2em 0em;
}

.faq-card > * {
  padding: 2px;
  margin: 1.5em 0em;
}

/* Slider */

.slider {
  background: #343a40;
  padding: 80px 10px 45px;
  position: relative;
}

.slider .white-bg {
  background: #fff;
  padding: 3em 1em 3.5em;
  text-align: center;
  border-radius: 0.375rem;
  margin-bottom: 34px;
}
.slider .display {
  display: none;
}

.slider span {
  color: rgba(0, 0, 0, 0.87);
  padding: 5px;
  font-weight: 400;
}

.slider .display.active {
  display: block;
}

.slider .arrows #right-arrow {
  color: #fff;
  position: absolute;
  right: 3em;
  bottom: 2em;
  cursor: pointer;
}

.slider .arrows #left-arrow {
  color: #fff;
  position: absolute;
  left: 3em;
  bottom: 2em;
  cursor: pointer;
}

/* newsletter */

.newsletter {
  background-image: url("https://www.furniturefactor.co.uk/ekmps/shops/ronzfurniture/images/luna-alpine-white-flexi-corner-computer-office-desk-3183-p.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 417px;
}

.newsletter > * {
  margin: 10px;
}

.newsletter h1 {
  font-size: 2rem;
  padding: 0.6em;
}

.newsletter input.emailInput {
  border-radius: 0;
  border: none;
  margin-bottom: 2em;
  background-color: transparent;
}

.newsletter input {
  border-bottom: 3px solid #000;
  padding: 15px 2px;
}

.newsletter .button {
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background: #1890ff;
  color: #fff;
  padding: 15px 25px;
  text-align: center;
}

/* cta */

.cta {
  background: #1890ff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 248px;
}

.cta .button {
  background: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
