@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300|IBM+Plex+Sans|Sonsie+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Sonsie One", cursive;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.71429;
  font-weight: 400;
}

img {
  max-width: 100%;
}

/* header */

.showcase {
  height: 75vh;
  background: #343a40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffffcc;
  text-align: center;
}

.showcase .container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.showcase .image-div {
  display: none;
}

.showcase h1 {
  margin-bottom: 1em;
  text-align: center;
  font-size: 2.75rem;
}

.showcase p {
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.25rem;
}

.showcase button {
  border-radius: 5px;
  border: none;
  padding: 15px 25px;
  color: #ffffffcc;
  background: #1890ff;
  text-align: center;
}

/* Features */

.features {
  text-align: center;
  margin-top: 3em;
}

.features .card > * {
  padding: 3px;
}

.features .card .sizing {
  font-size: 50px;
}

.features h1 {
  font-size: 2rem;
}

.features h4 {
  font-weight: bold;
  text-transform: uppercase;
}
